<div>
    <style>
        .css-music-volume-box{
            display: flex;
            border: .02rem solid #f66;
        }   
        .css-music-volume-key{
            flex: 3;
            text-align: center;
            height: .6rem;
            line-height: .6rem;
        }
        .css-music-volume-value-box{
            flex: 7;
            height: .6rem;           
        }
        .css-music-volume-value{
            height: .6rem;
            background-color: #f66;
        }
    </style>
    <div class="css-music-volume-box">
        <div class="css-music-volume-key">
            音量: 
        </div>
        <div class="css-music-volume-value-box" let-dom="volumeValueBox" ng-touchmove="changeVolumeValue($event)">
            <div class="css-music-volume-value" let-dom="volumeValue"></div>
        </div>
    </div>
</div>