<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .active{
            background: red
        }
    </style>
</head>
<body ng-controller="main">

        <span ng-click="go('route1')" ng-class="{ active:currentRouteName==='route1' }">路由1</span>
        <span ng-click="go('route2')" ng-class="{ active:currentRouteName==='route2' }">路由2</span>
        <span ng-click="go('route3')" ng-class="{ active:currentRouteName==='route3' }">路由3</span>
        <span ng-click="go('404')" ng-class="{ active:currentRouteName==='404' }">路由4</span>
        <ui-view></ui-view>
</body> 
<script src="./angular.js"></script>
<script src="./angular-ui-router.js"></script>
<script src="./stateEvents.js"></script>
</html>
<script>
    angular.module('app',['ui.router','ui.router.state.events'])
            .controller('main',['$scope','$state',function($scope,$state){
                $scope.msg = 'hello';
                $scope.currentRouteName = 'route1'
                $scope.go = function(routeName){
                    console.log(routeName)
                    $state.go(routeName);
                    $scope.currentRouteName = routeName ; //更改当前路由名称
                }
            }])
            .config([ '$stateProvider','$urlRouterProvider', function($stateProvider , $urlRouterProvider){
                    $urlRouterProvider.otherwise('route1')
                    //配置二级默认路由
                    $urlRouterProvider.when('/route1','/route1/page1')

                    $stateProvider.state('route1',{
                        url:'/route1',
                        templateUrl:'./route1.html'
                    }).state('route2',{
                        url:'/route2',
                        templateUrl:'./route2.html'
                    }).state('route3',{
                        url:'/route3',
                        templateUrl:'./route311111.html'
                    })
                    .state('404',{
                        url:'/404',
                        template:`<h1>找不到服务器</h1>`
                    })  
                    // 配置二级路由
                    .state('route1.publickpage',{ //公共子页面
                        url:'/publickpage',
                        template:'<div ng-bind="value"></div>',
                        controller:['$scope','$stateParams',function($scope,$stateParams){
                            console.log($stateParams)
                            $scope.value =  $stateParams.value;
                        }],
                        params:{
                            value:null
                        }
                    }) 
            } ])
            .run( [ '$rootScope',function($rootScope){
                $rootScope.$on('$stateChangeStart',function(event,to,toParams,from,fromParams,options,all){
                    console.log( event.name );
                    //to 是下一个路由
                    //from 是上一个路由
                    //to Params 上一个路由的参数
                    //fromParams 上一个路由
                    console.log('路由跳转之前')
                    
                   
                })
                $rootScope.$on('$stateChangeSuccess',function(event,to,toParams,from,fromParams,options,all){
                    console.log( event.name );
                    //to 是下一个路由
                    //from 是上一个路由
                    //to Params 上一个路由的参数
                    //fromParams 上一个路由
                    console.log('路由改变成功') // 和ui不同步 异步的
                    
                })
                $rootScope.$on('$stateChangeError',function(event,to,toParams,from,fromParams,options,all,error){
                    console.log('路由跳转失败')
                })
                $rootScope.$on('$stateNotFound',function(event,to,toParams,from,fromParams){
                    console.log('没有该路由')
                })

            } ] )
</script>