<div class="myclass">
    <style lang="">
        .myclass{
            position: absolute;
            left: 0;
            top:0;
            right: 0;
            bottom:0;
        }
        .myfooter{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 80px;
            background: green;
            display: flex;
        }
        .item{
            flex: 1;
            text-align: center;
            line-height: 80px;
            color: white;
            font-size: 24px;
            border: 1px solid orange;
        }
        .listItem{
            display: flex;
            height: 50px;
        }
        .inRow{
            flex: 1;
            text-align: center;
            line-height: 50px;
        }
        .active{
            background: red;
        }
    </style>
    <div>
       
        
        <div ng-repeat=" value in a " class="listItem">

            <span ng-bind="value.name" class="inRow"></span> 
            <span ng-bind="value.price|currency:'¥'" class="inRow"></span>
        </div>

        <!-- 三个按钮 可以用ng-repeat来渲染 -->
        <div class="myfooter">
            <!-- 遍历 data -->
            <div 
            ng-repeat=" item in data " 
            class="item"
            ng-click="select(item)"
            ng-class=" type===item.type ? 'active':''"
            > {{ item.type }} </div>
        </div>
    </div>
</div>