<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=.5 , maximum-scale=.5 , minimum-scale=.5">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style lang="">
        .btn{
            width: 100px;
            height: 100px;
        }
    </style>
</head>
<body>
    <div id="app">
        <!-- <span v-text="ceshi1"></span>
        <span v-text="ceshi2"></span> -->
        <!-- <el-input-number v-model="num1" @change="change" :step="1" :min="1" :max="10" label="描述文字"></el-input-number>
        <el-button type="warning" class="btn">测试</el-button>
        <el-checkbox v-model="ceshi2">备选项</el-checkbox>
        <el-radio-group v-model="ceshi1">
                <el-radio :label="1"></el-radio>
                <el-radio :label="2"></el-radio>
                <el-radio :label="3"></el-radio>
        </el-radio-group> -->
        <!-- <mt-loadmore :top-method="loadTop"  :ref="loadmore">
            <ul>
                <li v-for="item in data" v-text="item"></li>
            </ul>
        </mt-loadmore> -->
        <navigation :title-text="title"></navigation>
        <router-view class="content"></router-view>
        <tab-bar :data="list"></tab-bar>
    </div>
</body>
</html>