<div>
    <style lang="">
        .content{
            position: absolute;
            left: 0;
            top: .5rem;
            bottom: 0;
            right: 0;
        }
        .content-left{
            width: 2.25rem;
            height: 100%;
            float: left;
            background-color: #f2f2f2;
        }
        .content-right{
            overflow: hidden;
            height: 100%;
        }
    </style>
    <div class="content">
        <left class="content-left"></left> <right class="content-right"></right>
    </div>
</div>